:root {
  --md-source: #1976d2;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #001c3a;
  --md-ref-palette-primary20: #00315f;
  --md-ref-palette-primary25: #003c72;
  --md-ref-palette-primary30: #004786;
  --md-ref-palette-primary35: #00539a;
  --md-ref-palette-primary40: #005faf;
  --md-ref-palette-primary50: #1d78d4;
  --md-ref-palette-primary60: #4492f0;
  --md-ref-palette-primary70: #72adff;
  --md-ref-palette-primary80: #a5c8ff;
  --md-ref-palette-primary90: #d4e3ff;
  --md-ref-palette-primary95: #ebf1ff;
  --md-ref-palette-primary98: #f9f9ff;
  --md-ref-palette-primary99: #fdfcff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #3f0016;
  --md-ref-palette-secondary20: #660027;
  --md-ref-palette-secondary25: #7a0131;
  --md-ref-palette-secondary30: #8a133c;
  --md-ref-palette-secondary35: #9b2247;
  --md-ref-palette-secondary40: #ab2f53;
  --md-ref-palette-secondary50: #cb486b;
  --md-ref-palette-secondary60: #ec6184;
  --md-ref-palette-secondary70: #ff86a0;
  --md-ref-palette-secondary80: #ffb2bf;
  --md-ref-palette-secondary90: #ffd9de;
  --md-ref-palette-secondary95: #ffecee;
  --md-ref-palette-secondary98: #fff8f7;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #3f0016;
  --md-ref-palette-tertiary20: #660129;
  --md-ref-palette-tertiary25: #751033;
  --md-ref-palette-tertiary30: #851e3e;
  --md-ref-palette-tertiary35: #942a4a;
  --md-ref-palette-tertiary40: #a43655;
  --md-ref-palette-tertiary50: #c44f6e;
  --md-ref-palette-tertiary60: #e46887;
  --md-ref-palette-tertiary70: #ff85a1;
  --md-ref-palette-tertiary80: #ffb1c0;
  --md-ref-palette-tertiary90: #ffd9df;
  --md-ref-palette-tertiary95: #ffecee;
  --md-ref-palette-tertiary98: #fff8f7;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #1f1f1f;
  --md-ref-palette-neutral20: #00363d;
  --md-ref-palette-neutral25: #00424a;
  --md-ref-palette-neutral30: #004f58;
  --md-ref-palette-neutral35: #005b66;
  --md-ref-palette-neutral40: #006874;
  --md-ref-palette-neutral50: #008391;
  --md-ref-palette-neutral60: #00a0b0;
  --md-ref-palette-neutral70: #22bccf;
  --md-ref-palette-neutral80: #4fd8eb;
  --md-ref-palette-neutral90: #97f0ff;
  --md-ref-palette-neutral95: #d0f8ff;
  --md-ref-palette-neutral98: #edfcff;
  --md-ref-palette-neutral99: #f6feff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #181c22;
  --md-ref-palette-neutral-variant20: #2d3138;
  --md-ref-palette-neutral-variant25: #383b43;
  --md-ref-palette-neutral-variant30: #43474e;
  --md-ref-palette-neutral-variant35: #4f525a;
  --md-ref-palette-neutral-variant40: #5b5e66;
  --md-ref-palette-neutral-variant50: #74777f;
  --md-ref-palette-neutral-variant60: #8d9199;
  --md-ref-palette-neutral-variant70: #a8abb4;
  --md-ref-palette-neutral-variant80: #c3c6cf;
  --md-ref-palette-neutral-variant90: #e0e2ec;
  --md-ref-palette-neutral-variant95: #eef0fa;
  --md-ref-palette-neutral-variant98: #f9f9ff;
  --md-ref-palette-neutral-variant99: #fdfcff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #005faf;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #d4e3ff;
  --md-sys-color-on-primary-container-light: #001c3a;
  --md-sys-color-secondary-light: #ab2f53;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #ffd9de;
  --md-sys-color-on-secondary-container-light: #3f0016;
  --md-sys-color-tertiary-light: #a43655;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #ffd9df;
  --md-sys-color-on-tertiary-container-light: #3f0016;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #f6feff;
  --md-sys-color-on-background-light: #1f1f1f;
  --md-sys-color-surface-light: #f6feff;
  --md-sys-color-on-surface-light: #1f1f1f;
  --md-sys-color-surface-variant-light: #e0e2ec;
  --md-sys-color-on-surface-variant-light: #43474e;
  --md-sys-color-outline-light: #74777f;
  --md-sys-color-inverse-on-surface-light: #d0f8ff;
  --md-sys-color-inverse-surface-light: #00363d;
  --md-sys-color-inverse-primary-light: #a5c8ff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #005faf;
  --md-sys-color-outline-variant-light: #c3c6cf;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #a5c8ff;
  --md-sys-color-on-primary-dark: #00315f;
  --md-sys-color-primary-container-dark: #004786;
  --md-sys-color-on-primary-container-dark: #d4e3ff;
  --md-sys-color-secondary-dark: #ffb2bf;
  --md-sys-color-on-secondary-dark: #660027;
  --md-sys-color-secondary-container-dark: #8a133c;
  --md-sys-color-on-secondary-container-dark: #ffd9de;
  --md-sys-color-tertiary-dark: #ffb1c0;
  --md-sys-color-on-tertiary-dark: #660129;
  --md-sys-color-tertiary-container-dark: #851e3e;
  --md-sys-color-on-tertiary-container-dark: #ffd9df;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1f1f1f;
  --md-sys-color-on-background-dark: #e3e3e3;
  --md-sys-color-surface-dark: #1f1f1f;
  --md-sys-color-on-surface-dark: #e3e3e3;
  --md-sys-color-surface-variant-dark: #43474e;
  --md-sys-color-on-surface-variant-dark: #c3c6cf;
  --md-sys-color-outline-dark: #8d9199;
  --md-sys-color-inverse-on-surface-dark: #1f1f1f;
  --md-sys-color-inverse-surface-dark: #97f0ff;
  --md-sys-color-inverse-primary-dark: #005faf;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #a5c8ff;
  --md-sys-color-outline-variant-dark: #43474e;
  --md-sys-color-scrim-dark: #000000;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: 'Raleway';
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: 'Raleway';
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: 'Raleway';
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: 'Raleway';
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: 'Raleway';
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: 'Raleway';
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: 'Raleway';
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: 'Raleway';
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: 'Raleway';
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
