.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  top: 0;
  height: 100vh;
}

.sidebar--item {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
